body{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 196, 252, 0.205);
    font-family: "Outfit", sans-serif;
}
.conteiner{
    border-radius: 10px ;
    width: 40%;
    padding: 35px;
    background-color: white;
    margin-top: 70px;
    margin-bottom: 50px;
}
.prep{
    background-color: rgba(255, 196, 252, 0.205);
    border-radius: 10px;
    padding: 20px;
}

h1{
    font-size: 40px;
    font-family:'Young Serif', serif;
}
h2{
    color: rgb(157, 38, 38);
    font-family:'Young Serif', serif;
}
h4{
    color: brown;
}
table {
    border-collapse: collapse; /* Remove o espaçamento entre bordas das células */
    width: 100%;
    padding: 10px;
}

td {
    padding: 10px; /* Espaçamento interno das células */
    text-align: left; /* Alinhamento do texto nas células */
    border-bottom: 1px solid;

}
.tds{
    color: rgb(157, 38, 38);
    border-bottom: 1px solid black;
}
ol {
    list-style: none; /*remove os números da lista*/
}

ol li {
    counter-increment: item; /*adiciona números a lista, a partir do 1 e incrementando*/
    position: relative;
    padding-left: 30px; /* Espaço para o número */
}
ol li::before {
    content: counter(item) ".";
    position: absolute;
    left: 0;
    font-weight: bold;
    color: rgb(157, 38, 38);
    font-size: 1em; /* Ajuste o tamanho conforme necessário */
}
a:hover{
    color: rgb(255, 87, 87);
}
button{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    color: rgb(208, 55, 50);
    background: none;
    border: 0;
}
button i{
    font-size: 23px;
}
button:hover{
    color: red;
}
body.dark-mode {
    background-color: #2c2c2c;
    color: #ffffff;
}
body.dark-mode .conteiner {
    background-color: black;
}
body.dark-mode h2{
    color: brown;
}
body.dark-mode .prep{
    background-color: #2c2c2c;
}
body.dark-mode .tds{
    border-bottom: 1px solid white;
}